<!DOCTYPE html>
<html>

<head>

	<title>NodeJS Live Chat</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="homebanner">

			<h1 class="homebannertext">
				<a href="https://catini.org" id="logo">Catini<span>.org</span></a>
			</h1>

	</header>

	<section>

		<div class="homesection">

			<div class="node">
				<img src="img/nodejslogo.png" alt="nodelogo" id="nodelogo"/>
				<h2 id="chat">powered by nodejs</h2>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Criar uma sala de conversa</div>
					<div id="big">Privada!</div>
				</div>
			</a>
		</div>

	</section>

</body>
</html>
